<!DOCTYPE html>
<html lang="id" data-bs-theme="light">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Peraturan Daerah | Kab. Deli Serdang</title>
  <link rel="icon" type="image/x-icon" href="assets/img/logo_jdih.png" />
  <!-- CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <!-- Fonts and Icons -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <!-- Animations -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <!-- Local CSS -->
  <link rel="stylesheet" href="assets/css/style.css" />
  <!-- Vue JS -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- <script src="assets/js/app.js" defer></script> -->
  <!-- Axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <!-- Slider text start -->
    <marquee class="bg-jdih" behavior="" direction="">
        <div class="">
        <div class="text-slider text-warning">
            <i class="bi bi-star-fill"></i> STANDAR LAYANAN <i class="bi bi-star-fill"></i> Produk Hukum yang di unggah dalam Database JDIH Pemkab Deli Serdang bersifat resmi dan telah diklasifikasikan berdasarkan jenis, tema, tahun, maupun asal produk hukum.<i class="bi bi-dot mx-1"></i>Layanan pada Database JDIH Pemkab Deli Serdang dapat diakses oleh masyarakat umum secara gratis dan tanpa syarat.<i class="bi bi-dot mx-1"></i>
        </div>
        </div>
    </marquee>
    <!-- Slider text end -->

    <!-- Navbar Start -->
    <nav class="navbar navbar-expand d-none d-lg-block bg-transparent">
        <div class="container">
        <a class="navbar-brand fw-semibold text-jdih" href="#"><img
            src="assets/img/logo_jdih.png" alt=""
            style="height: 30px" />JDIH
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-light"></span>
        </button>      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="index.html"><i class="fa-solid fa-home me-1"></i>Beranda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="profil.html"><i class="fa-solid fa-id-badge me-1"></i>Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="bantuan-hukum.html"><i class="fa-solid fa-scale-balanced me-1"></i>Bantuan Hukum</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://jdihn.go.id/" target="_blank"><i class="fa-solid fa-globe me-1"></i>JDIHN</a>
            </li>
            </ul>
        </div>
        <a href="login.html" class="btn btn-jdih"><i class="fa-solid fa-arrow-right-to-bracket me-1"></i>Login</a>
        </div>
    </nav>
    <!-- Navbar End -->

    <!-- Mobile Navbar Bottom start -->
    <nav class="mobile-navbar navbar-expand fixed-bottom container d-lg-none">
        <ul class="mobile-bar">
        <li class="icon-card">
            <a href="index.html">
            <div class="icon-set home card">
                <i class="icon-logo fa-solid fa-house"></i>
                <label for="">Beranda</label>
            </div>
            </a>
        </li>
        <li class="icon-card">
            <a href="terbaru.html">
            <div class="icon-set terbaru card">
                <i class="icon-logo fa-solid fa-file-arrow-up"></i>
                <label for="">Terbaru</label>
            </div>
            </a>
        </li>
        <li class="icon-card">
            <a href="https://jdihn.go.id/" target="_blank">
            <div class="icon-set jdihn card">
                <i class="icon-logo fa-solid fa-globe"></i>
                <label for="">JDIHN</label>
            </div>
            </a>
        </li>
        <li class="icon-card">
            <a href="" data-bs-toggle="modal" data-bs-target="#lainnyaModal">
            <div class="icon-set lainnya card">
                <i class="icon-logo fa-solid fa-ellipsis"></i>
                <label for="">Lainnya</label>
            </div>
            </a>
        </li>
        </ul>
    </nav>
    <!-- Mobile Navbar Bottom end -->

    <!-- lainnya Modal start -->
    <div class="modal modal-sm fade" id="lainnyaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content pt-4">
            <p class="text-center fw-semibold">Menu Lainnya</p>
            <ul class="d-flex justify-content-around align-items-center me-4">
            <li class="icon-card text-center">
                <a href="profil.html">
                <div class="icon-set profil card bg-danger-subtle text-danger-emphasis">
                    <i class="icon-logo fa-solid fa-id-badge"></i>
                    <label for="">Profil</label>
                </div>
                </a>
            </li>
            <li class="icon-card text-center">
                <a href="bantuanhukum.html">
                <div class="icon-set bantuan-hukum card bg-primary-subtle text-primary-emphasis">
                    <i class="icon-logo fa-solid fa-scale-balanced"></i>
                    <label for="">Bantuan Hukum</label>
                </div>
                </a>
            </li>
            <li class="icon-card text-center">
                <a href="faq.html">
                <div class="icon-set faq card bg-warning-subtle text-warning-emphasis">
                    <i class="icon-logo fa-solid fa-circle-question"></i>
                    <label for="">FAQ</label>
                </div>
                </a>
            </li>
            </ul>
            <a href="login.html" type="button" class="m-3 btn btn-jdih"><i class="fa-solid fa-arrow-right-to-bracket me-1"></i>Login</a>
        </div>
        </div>
    </div>
    <!-- lainnya Modal end -->

    <!-- Keterangan Title Start -->
    <div class="title-jdih mt-4 text-center"> 
        <img src="assets/img/logo_jdih.png" style="width: 60px;" alt="">
        <h6 class="mt-3">Survei Kepuasan Masyarakat</h6>
        <h6 class="mt-0">Jaringan Dokumentasi Informasi Hukum</h6>
        <h5 class="mb-4">Pemerintah Kabupaten Deli Serdang</h5>
    </div>
    <!-- Keterangan Title End -->

    <div id="app" class="container">
        <div class="card border-0 rounded-4 p-4 gap-3 mb-3">

            <!-- Profil Card Start -->
            <div class="card bg-primary-subtle border-0 rounded-4 p-3 gap-2">

            <h5>Profil</h5>
            <!-- Jenis kelamin start -->
            <div :class="['form-control', 'bg-transparent', { 'is-invalid': errors.jenis_kelamin }]">

                <label class="fw-semibold">Jenis Kelamin</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="jenis_kelamin" id="laki-laki" value="Laki-laki"
                    v-model="formData.jenis_kelamin">
                    <label class="form-check-label" for="laki-laki">
                        Laki-laki
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="jenis_kelamin" id="perempuan" value="Perempuan"
                    v-model="formData.jenis_kelamin">
                    <label class="form-check-label" for="perempuan">
                        Perempuan
                    </label>
                </div>
            
            </div>
            <!-- Error handling -->
            <div v-if="errors.jenis_kelamin" class="invalid-feedback">
                <div v-for="(error, index) in errors.jenis_kelamin" :key="index">
                    {{ error }}
                </div>
            </div>
            <!-- Jenis kelamin end -->

            <!-- Usia start -->
            <div :class="['form-control', 'bg-transparent', { 'is-invalid': errors.usia }]">
                <label class="fw-semibold">Usia</label>
                <div class="d-flex flex-wrap gap-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="usia" id="usia1" value="17-20"
                        v-model="formData.usia">
                        <label class="form-check-label" for="usia1">
                        17-20
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="usia" id="usia2" value="21-25"
                        v-model="formData.usia">
                        <label class="form-check-label" for="usia2">
                        21-25
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="usia" id="usia3" value="26-30"
                        v-model="formData.usia">
                        <label class="form-check-label" for="usia3">
                        26-30
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="usia" id="usia4" value="31-35"
                        v-model="formData.usia">
                        <label class="form-check-label" for="usia4">
                            31-35
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="usia" id="usia5" value="36-40"
                        v-model="formData.usia">
                        <label class="form-check-label" for="usia5">
                            36-40
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="usia" id="usia6" value="41-45"
                        v-model="formData.usia">
                        <label class="form-check-label" for="usia6">
                        41-45
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="usia" id="usia7" value="46-50"
                        v-model="formData.usia">
                        <label class="form-check-label" for="usia7">
                        46-50
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="usia" id="usia8" value="51-55"
                        v-model="formData.usia">
                        <label class="form-check-label" for="usia8">
                        51-55
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="usia" id="usia9" value=">55"
                        v-model="formData.usia">
                        <label class="form-check-label" for="usia9">
                        >55
                        </label>
                    </div>
                </div>
            
            </div>
            <!-- Error handling -->
            <div v-if="errors.usia" class="invalid-feedback">
                <div v-for="(error, index) in errors.usia" :key="index">
                    {{ error }}
                </div>
            </div>
            <!-- Usia end -->

            <!-- Pendidikan start -->
            <div :class="['form-control', 'bg-transparent', { 'is-invalid': errors.pendidikan }]">

                <label class="fw-semibold">Pendidikan</label>
                <div class="opsi d-flex flex-wrap gap-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="pendidikan" id="sd"
                        value="SD" v-model="formData.pendidikan">
                        <label class="form-check-label" for="sd">
                        SD
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="pendidikan" id="smp"
                        value="SMP" v-model="formData.pendidikan">
                        <label class="form-check-label" for="smp">
                        SMP
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="pendidikan" id="sma"
                        value="SMA/Sederajat" v-model="formData.pendidikan">
                        <label class="form-check-label" for="sma">
                        SMA/Sederajat
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="pendidikan" id="diploma"
                        value="Diploma" v-model="formData.pendidikan">
                        <label class="form-check-label" for="diploma">
                        Diploma
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="pendidikan" id="s1"
                        value="S1" v-model="formData.pendidikan">
                        <label class="form-check-label" for="s1">
                        S1
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="pendidikan" id="s2"
                        value="S2" v-model="formData.pendidikan">
                        <label class="form-check-label" for="s2">
                        S2
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="pendidikan" id="s3"
                        value="S3" v-model="formData.pendidikan">
                        <label class="form-check-label" for="s3">
                        S3
                        </label>
                    </div>
                </div>
            
            </div>
            <!-- Error handling -->
            <div v-if="errors.pendidikan" class="invalid-feedback">
                <div v-for="(error, index) in errors.pendidikan" :key="index">
                    {{ error }}
                </div>
            </div>
            <!-- Pendidikan end -->

            <!-- Pekerjaan start -->
            <div :class="['form-control', 'bg-transparent', { 'is-invalid': errors.pekerjaan }]">

                <label class="fw-semibold">Pekerjaan</label>
                
                <div class="opsi d-flex flex-wrap gap-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="pekerjaan" id="pns"
                        value="PNS" v-model="formData.pekerjaan">
                        <label class="form-check-label" for="pns">
                        PNS
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="pekerjaan" id="tni"
                        value="TNI" v-model="formData.pekerjaan">
                        <label class="form-check-label" for="tni">
                        TNI
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="pekerjaan" id="polri"
                        value="POLRI" v-model="formData.pekerjaan">
                        <label class="form-check-label" for="polri">
                        POLRI
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="pekerjaan" id="swasta"
                        value="Swasta" v-model="formData.pekerjaan">
                        <label class="form-check-label" for="swasta">
                        Swasta
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="pekerjaan" id="wirausaha"
                        value="Wirausaha" v-model="formData.pekerjaan">
                        <label class="form-check-label" for="wirausaha">
                        Wirausaha
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="pekerjaan" id="lainLain"
                        value="Lainnya" v-model="formData.pekerjaan">
                        <label class="form-check-label" for="lainLain">
                        Lainnya
                        </label>
                    </div>
                </div>
            
            </div>
            <!-- Error handling -->
            <div v-if="errors.pekerjaan" class="invalid-feedback">
                <div v-for="(error, index) in errors.pekerjaan" :key="index">
                    {{ error }}
                </div>
            </div>
            <!-- Pekerjaan end -->

            </div>
            <!-- Profil Card End -->

            <!-- Kuesioner Card Start -->
            <div class="card bg-info-subtle border-0 rounded-4 p-3 gap-2">

                <h5>Pendapat Anda tentang pelayanan JDIH Kabupaten Deli Serdang</h5>
                <!-- Kesesuaian start -->
                <div :class="['form-control', 'bg-transparent', { 'is-invalid': errors.kesesuaian }]">
    
                    <p class="mb-1 fs-6 fw-semibold">Bagaimana pendapat Saudara tentang kesesuaian persyaratan pelayanan dengan jenis pelayanannya?</p>
                    <div class="opsi d-flex flex-column column-gap-5">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="kesesuaian" id="tidak"
                            value="Tidak Sesuai" v-model="formData.kesesuaian">
                            <label class="form-check-label" for="tidak" style="text-wrap: nowrap;">
                            Tidak Sesuai
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="kesesuaian" id="kurang"
                            value="Kurang Sesuai" v-model="formData.kesesuaian">
                            <label class="form-check-label" for="kurang" style="text-wrap: nowrap;">
                            Kurang Sesuai
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="kesesuaian" id="pas"
                            value="Sesuai" v-model="formData.kesesuaian">
                            <label class="form-check-label" for="pas" style="text-wrap: nowrap;">
                            Sesuai
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="kesesuaian" id="sangat"
                            value="Sangat Sesuai" v-model="formData.kesesuaian">
                            <label class="form-check-label" for="sangat" style="text-wrap: nowrap;">
                            Sangat Sesuai
                            </label>
                        </div>
                    </div>
                
                </div>
                <!-- Error handling -->
                <div v-if="errors.kesesuaian" class="invalid-feedback">
                    <div v-for="(error, index) in errors.kesesuaian" :key="index">
                        {{ error }}
                    </div>
                </div>
                <!-- Kesesuaian end -->   

                <!-- Kemudahan start -->
                <div :class="['form-control', 'bg-transparent', { 'is-invalid': errors.kemudahan }]">
    
                    <p class="mb-1 fs-6 fw-semibold">Bagaimana pemahaman Saudara tentang kemudahan prosedur pelayanan di unit ini?</p>
                    <div class="opsi d-flex flex-column column-gap-5">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="kemudahan" id="tidak"
                            value="Tidak Mudah" v-model="formData.kemudahan">
                            <label class="form-check-label" for="tidak" style="text-wrap: nowrap;">
                            Tidak Mudah
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="kemudahan" id="kurang"
                            value="Kurang Mudah" v-model="formData.kemudahan">
                            <label class="form-check-label" for="kurang" style="text-wrap: nowrap;">
                            Kurang Mudah
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="kemudahan" id="pas"
                            value="Mudah" v-model="formData.kemudahan">
                            <label class="form-check-label" for="pas" style="text-wrap: nowrap;">
                            Mudah
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="kemudahan" id="sangat"
                            value="Sangat Mudah" v-model="formData.kemudahan">
                            <label class="form-check-label" for="sangat" style="text-wrap: nowrap;">
                            Sangat Mudah
                            </label>
                        </div>
                    </div>
                
                </div>
                <!-- Error handling -->
                <div v-if="errors.kemudahan" class="invalid-feedback">
                    <div v-for="(error, index) in errors.kemudahan" :key="index">
                        {{ error }}
                    </div>
                </div>
                <!-- Kemudahan end --> 

                <!-- Kecepatan start -->
                <div :class="['form-control', 'bg-transparent', { 'is-invalid': errors.kecepatan }]">
    
                    <p class="mb-1 fs-6 fw-semibold">Bagaimana pendapat Saudara tentang kecepatan waktu dalam memberikan layanan?</p>
                    <div class="opsi d-flex flex-column column-gap-5">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="kecepatan" id="tidak"
                            value="Lambat" v-model="formData.kecepatan">
                            <label class="form-check-label" for="tidak" style="text-wrap: nowrap;">
                            Lambat
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="kecepatan" id="kurang"
                            value="Kurang Cepat" v-model="formData.kecepatan">
                            <label class="form-check-label" for="kurang" style="text-wrap: nowrap;">
                            Kurang Cepat
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="kecepatan" id="pas"
                            value="Cepat" v-model="formData.kecepatan">
                            <label class="form-check-label" for="pas" style="text-wrap: nowrap;">
                            Cepat
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="kecepatan" id="sangat"
                            value="Sangat Cepat" v-model="formData.kecepatan">
                            <label class="form-check-label" for="sangat" style="text-wrap: nowrap;">
                            Sangat Cepat
                            </label>
                        </div>
                    </div>
                
                </div>
                <!-- Error handling -->
                <div v-if="errors.kecepatan" class="invalid-feedback">
                    <div v-for="(error, index) in errors.kecepatan" :key="index">
                        {{ error }}
                    </div>
                </div>
                <!-- Kecepatan end --> 
    
                <!-- Kewajaran start -->
                <div :class="['form-control', 'bg-transparent', { 'is-invalid': errors.kewajaran }]">
    
                    <p class="mb-1 fs-6 fw-semibold">Bagaimana pendapat Saudara tentang kewajaran biaya/tarif dalam pelayanan?</p>
                    <div class="opsi d-flex flex-column column-gap-5">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="tarif" id="tidak"
                            value="Sangat Mahal" v-model="formData.kewajaran">
                            <label class="form-check-label" for="tidak" style="text-wrap: nowrap;">
                            Sangat Mahal
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="tarif" id="kurang"
                            value="Cukup Mahal" v-model="formData.kewajaran">
                            <label class="form-check-label" for="kurang" style="text-wrap: nowrap;">
                            Cukup Mahal
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="tarif" id="pas"
                            value="Mahal" v-model="formData.kewajaran">
                            <label class="form-check-label" for="pas" style="text-wrap: nowrap;">
                            Mahal
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="tarif" id="sangat"
                            value="Gratis" v-model="formData.kewajaran">
                            <label class="form-check-label" for="sangat" style="text-wrap: nowrap;">
                            Gratis
                            </label>
                        </div>
                    </div>
                
                </div>
                <!-- Error handling -->
                <div v-if="errors.kewajaran" class="invalid-feedback">
                    <div v-for="(error, index) in errors.kewajaran" :key="index">
                        {{ error }}
                    </div>
                </div>
                <!-- Kewajaran end --> 

                <!-- Kesesuaian Produk start -->
                <div :class="['form-control', 'bg-transparent', { 'is-invalid': errors.kesesuaian_produk }]">
    
                    <p class="mb-1 fs-6 fw-semibold">Bagaimana pendapat Saudara tentang kesesuaian produk pelayanan antara yang tercantum dalam standar pelayanan dengan hasil yang diberikan?</p>
                    <div class="opsi d-flex flex-column column-gap-5">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sesuaiHasil" id="tidak"
                            value="Tidak Sesuai" v-model="formData.kesesuaian_produk">
                            <label class="form-check-label" for="tidak" style="text-wrap: nowrap;">
                            Tidak Sesuai
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sesuaiHasil" id="kurang"
                            value="Kurang Sesuai" v-model="formData.kesesuaian_produk">
                            <label class="form-check-label" for="kurang" style="text-wrap: nowrap;">
                            Kurang Sesuai
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sesuaiHasil" id="pas"
                            value="Sesuai" v-model="formData.kesesuaian_produk">
                            <label class="form-check-label" for="pas" style="text-wrap: nowrap;">
                            Sesuai
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sesuaiHasil" id="sangat"
                            value="Sangat Sesuai" v-model="formData.kesesuaian_produk">
                            <label class="form-check-label" for="sangat" style="text-wrap: nowrap;">
                            Sangat Sesuai
                            </label>
                        </div>
                    </div>
                
                </div>
                <!-- Error handling -->
                <div v-if="errors.kesesuaian_produk" class="invalid-feedback">
                    <div v-for="(error, index) in errors.kesesuaian_produk" :key="index">
                        {{ error }}
                    </div>
                </div>
                <!-- Kesesuaian Produk end --> 

                <!-- Kompetensi start -->
                <div :class="['form-control', 'bg-transparent', { 'is-invalid': errors.kompetensi }]">
    
                    <p class="mb-1 fs-6 fw-semibold">Bagaimana pendapat Saudara tentang kompetensi kemampuan petugas dalam pelayanan?</p>
                    <div class="opsi d-flex flex-column column-gap-5">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="kompetensi" id="tidak"
                            value="Tidak Kompeten" v-model="formData.kompetensi">
                            <label class="form-check-label" for="tidak" style="text-wrap: nowrap;">
                            Tidak Kompeten
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="kompetensi" id="kurang"
                            value="Kurang Kompeten" v-model="formData.kompetensi">
                            <label class="form-check-label" for="kurang" style="text-wrap: nowrap;">
                            Kurang Kompeten
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="kompetensi" id="pas"
                            value="Kompeten" v-model="formData.kompetensi">
                            <label class="form-check-label" for="pas" style="text-wrap: nowrap;">
                            Kompeten
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="kompetensi" id="sangat"
                            value="Sangat Kompeten" v-model="formData.kompetensi">
                            <label class="form-check-label" for="sangat" style="text-wrap: nowrap;">
                            Sangat Kompeten
                            </label>
                        </div>
                    </div>
                
                </div>
                <!-- Error handling -->
                <div v-if="errors.kompetensi" class="invalid-feedback">
                    <div v-for="(error, index) in errors.kompetensi" :key="index">
                        {{ error }}
                    </div>
                </div>
                <!-- Kompetensi end --> 

                <!-- Perilaku Petugas start -->
                <div :class="['form-control', 'bg-transparent', { 'is-invalid': errors.perilaku_petugas }]">
    
                    <p class="mb-1 fs-6 fw-semibold">Bagaimana pendapat Saudara perilaku petugas dalam pelayanan terkait kesopanan dan keramahan?</p>
                    <div class="opsi d-flex flex-column column-gap-5">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="keramahan" id="tidak"
                            value="Tidak Sopan dan Tidak Ramah" v-model="formData.perilaku_petugas">
                            <label class="form-check-label" for="tidak" style="text-wrap: nowrap;">
                            Tidak Sopan dan Tidak Ramah
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="keramahan" id="kurang"
                            value="Kurang Sopan dan Kurang Ramah" v-model="formData.perilaku_petugas">
                            <label class="form-check-label" for="kurang" style="text-wrap: nowrap;">
                            Kurang Sopan dan Kurang Ramah
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="keramahan" id="pas"
                            value="Sopan dan Ramah" v-model="formData.perilaku_petugas">
                            <label class="form-check-label" for="pas" style="text-wrap: nowrap;">
                            Sopan dan Ramah
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="keramahan" id="sangat"
                            value="Sangat Sopan dan Sangat Ramah" v-model="formData.perilaku_petugas">
                            <label class="form-check-label" for="sangat" style="text-wrap: nowrap;">
                            Sangat Sopan dan Sangat Ramah
                            </label>
                        </div>
                    </div>
                
                </div>
                <!-- Error handling -->
                <div v-if="errors.perilaku_petugas" class="invalid-feedback">
                    <div v-for="(error, index) in errors.perilaku_petugas" :key="index">
                        {{ error }}
                    </div>
                </div>
                <!-- Perilaku Petugas end --> 

                <!-- Kualitas start -->
                <div :class="['form-control', 'bg-transparent', { 'is-invalid': errors.kualitas }]">
    
                    <p class="mb-1 fs-6 fw-semibold">Bagaimana pendapat Saudara tentang kualitas sarana dan prasarana?</p>
                    <div class="opsi d-flex flex-column column-gap-5">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sarana" id="tidak"
                            value="Buruk" v-model="formData.kualitas">
                            <label class="form-check-label" for="tidak" style="text-wrap: nowrap;">
                            Buruk
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sarana" id="kurang"
                            value="Cukup" v-model="formData.kualitas">
                            <label class="form-check-label" for="kurang" style="text-wrap: nowrap;">
                            Cukup
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sarana" id="pas"
                            value="Baik" v-model="formData.kualitas">
                            <label class="form-check-label" for="pas" style="text-wrap: nowrap;">
                            Baik
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sarana" id="sangat"
                            value="Sangat Baik" v-model="formData.kualitas">
                            <label class="form-check-label" for="sangat" style="text-wrap: nowrap;">
                            Sangat Baik
                            </label>
                        </div>
                    </div>
                
                </div>
                <!-- Error handling -->
                <div v-if="errors.kualitas" class="invalid-feedback">
                    <div v-for="(error, index) in errors.kualitas" :key="index">
                        {{ error }}
                    </div>
                </div>
                <!-- Kualitas end --> 

                <!-- Penanganan start -->
                <div :class="['form-control', 'bg-transparent', { 'is-invalid': errors.penanganan }]">
    
                    <p class="mb-1 fs-6 fw-semibold">Bagaimana pendapat Saudara tentang penanganan pengaduan pengguna layanan?</p>
                    <div class="opsi d-flex flex-column column-gap-5">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="pengaduan" id="tidak"
                            value="Tidak Ada" v-model="formData.penanganan">
                            <label class="form-check-label" for="tidak" style="text-wrap: nowrap;">
                            Tidak Ada
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="pengaduan" id="kurang"
                            value="Ada tetapi tidak berfungsi" v-model="formData.penanganan">
                            <label class="form-check-label" for="kurang" style="text-wrap: nowrap;">
                            Ada, tetapi tidak berfungsi
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="pengaduan" id="pas"
                            value="Berfungsi" v-model="formData.penanganan">
                            <label class="form-check-label" for="pas" style="text-wrap: nowrap;">
                            Berfungsi
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="pengaduan" id="sangat"
                            value="Dikelola dengan baik" v-model="formData.penanganan">
                            <label class="form-check-label" for="sangat" style="text-wrap: nowrap;">
                            Dikelola dengan baik
                            </label>
                        </div>
                    </div>
                
                </div>
                <!-- Error handling -->
                <div v-if="errors.penanganan" class="invalid-feedback">
                    <div v-for="(error, index) in errors.penanganan" :key="index">
                        {{ error }}
                    </div>
                </div>
                <!-- Penanganan end --> 

            </div>
            <!-- Kuesioner Card End -->

            <div class="col card border-0 rounded-4 bg-warning-subtle p-4">
                <label for="kritik" class="form-label fw-semibold">Kritik dan Saran</label>
                <textarea type="text" class="form-control" rows="3" placeholder="Mohon pergunakan bahasa yang baik dan sopan"
                :class="{ 'is-invalid': errors.kritik }" id="kritik" v-model="formData.kritik"></textarea>
                <div v-if="errors.kritik" class="invalid-feedback">
                    <div v-for="(error, index) in errors.kritik" :key="index">
                        {{ error }}
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-success rounded-3 w-25" @click="submitForm">
                <i class="fa-regular fa-paper-plane me-1"></i>Kirim</button>
        </div>

        <!-- Success alert -->
        <div v-if="showSuccessAlert" class="alert alert-success alert-dismissible fade show my-3" role="alert">
            Data berhasil dikirim!
            <button type="button" class="btn-close" aria-label="Close" @click="showSuccessAlert = false"></button>
        </div>
        
    </div>

    <!-- Footer Start -->
    <footer class="bg-jdih pt-5">
        <div class="container pb-5">
        <div class="row">
            <div class="col-md-6 text-center mb-4">
            <h5 class="text-start text-light">Link terkait</h5>
            <table class="">
                <tbody>
                <tr class="text-start">
                    <td class="align-text-top text-start"><i class="bi bi-globe2 me-1"></i></td>
                    <td><a href="https://jdihn.go.id/" target="_blank" class="text-light text-decoration-none">JDIH Nasional</a></td>
                </tr>
                <tr class="text-start">
                    <td class="align-text-top text-start"><i class="bi bi-globe2 me-1"></td>
                    <td><a href="https://portal.deliserdangkab.go.id" target="_blank" class="text-light text-decoration-none">Situs Resmi Pemkab Deli Serdang</a></td>
                </tr>
                </tbody>
            </table>
            </div>
            <div class="col-md-6 text-center">
            <h5 class="text-start text-light">Kontak kami</h5>
            <hr class="m-0 mb-1">
            <table class="container">
                <tbody>
                <tr class="text-start">
                    <td class="align-text-top text-start"><i class="bi bi-house-door-fill me-1"></i></td>
                    <td>Jl. Negara No. 1, Kel. Petapahan,<br>Kec. Lubuk Pakam, Kab. Deli Serdang,<br>Kode Pos 20517</td>
                </tr>
                <tr class="text-start">
                    <td class="align-text-top text-start"><i class="bi bi-envelope-at-fill me-1"></td>
                    <td><a href="mailto:baghukum.deliserdangkab.go.id" class="text-light text-decoration-none">baghukum@deliserdangkab.go.id</a></td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
            <p class="text-center">Hak Cipta © 2024<br />Pemerintah Kabupaten Deli Serdang</p>
            </div>
        </div>
        <div class="card pb-4 border-0 bg-transparent d-md-none">
            <div class="card pb-5 border-0 bg-transparent d-md-none"></div>
        </div>
        </div>
    </footer>
    <!-- Footer End -->

  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <!-- <script src="assets/js/script.js"></script> -->
  <!-- AOS -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

    <script>
    const { createApp, ref } = Vue;

createApp({
    setup() {
        const formData = ref({
            jenis_kelamin: '',
            usia: '',
            pendidikan: '',
            pekerjaan: '',
            kecepatan: '',
            kemudahan: '',
            kesesuaian: '',
            kesesuaian_produk: '',
            kewajaran: '',
            kompetensi: '',
            kualitas: '',
            penanganan: '',
            perilaku_petugas: '',
            kritik: ''
        });

        const errors = ref({});
        const showSuccessAlert = ref(false);  // Track alert visibility

        // Validation function to check if all fields are filled
        const isFormComplete = () => {
            return Object.values(formData.value).every(value => value !== '');
        };

        const submitForm = async () => {
            // Check if form is complete
            if (!isFormComplete()) {
                alert("Mohon lengkapi seluruh kolom pertanyaan.");
                return;  // Stop the function here if form is incomplete
            }

            try {
                // Submit the form
                const response = await axios.post('https://website.kickymaulana.com/api/survei/input', formData.value);

                // Show the success alert and reset form fields and errors
                showSuccessAlert.value = true;
                formData.value = {
                    jenis_kelamin: '',
                    usia: '',
                    pendidikan: '',
                    pekerjaan: '',
                    kecepatan: '',
                    kemudahan: '',
                    kesesuaian: '',
                    kesesuaian_produk: '',
                    kewajaran: '',
                    kompetensi: '',
                    kualitas: '',
                    penanganan: '',
                    perilaku_petugas: '',
                    kritik: ''
                };
                errors.value = {}; // Reset errors

                // Wait for 3 seconds and then redirect to index.html
                setTimeout(() => {
                    window.location.href = 'index.html';
                }, 5000);

            } catch (error) {
                console.log(error);

                if (error.response && error.response.data.errors) {
                    errors.value = error.response.data.errors;
                } else {
                    console.error('Gagal mengirim data!', error);
                }
            }
        };

        return {
            formData,
            errors,
            showSuccessAlert,
            submitForm
        };
    }
}).mount('#app');


</script>
  

</body>

</html>