@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {

  /* color 1 */
  --bs-kominfo: #012970;
  --bs-utama: #012970;
  --bs-utama-gelap: #002769;
  --bs-utama-terang: #4154f1;
  --bs-ungu: #717ff5;
  --bs-kelabu: #444444;

  /* color 2 */
  --bs-primary: #00425a;
  --bs-primary-shadow: #022836;
  --bs-secondary: #fc7300;
  --bs-third: #dadada;
  --bs-secondary-shadow: #4c4e50;
  --bs-light: #fc7300;
  --bs-light-shadow: #c25700;
  --bs-background: #f9f9f9;
  --bs-background-2: #ececec;
  --bs-backup-primary: #0d6efd;
  --bs-backup-secondary: #6c757d;

  /* Fonts */
  --fo-googlesans: "Google Sans", sans-serif;
  --fo-opensans: "Open Sans", sans-serif;
  --fo-montserrat: "Monserrat", sans-serif;
  --fo-livvic: "Livvic", sans-serif;
  --fo-mons-alternates: "Montserrat Alternates", sans-serif;
  --fo-poppins: "Poppins", sans-serif;
  --fo-outfit: "Outfit", sans-serif;
  --fo-dmsans: "DM Sans", sans-serif;
  --fo-rubik: "Rubik", sans-serif;
  --fo-notosans: "Noto Sans", sans-serif;
  --fo-saira: "Saira", sans-serif;
  --fo-didact-gothic: "Didact Gothic", sans-serif;
  --fo-play: "Play", sans-serif;
  --fo-lexend: "Lexend", sans-serif;
  --fo-inter: "Inter", sans-serif;
  --fo-nunito: "Nunito", sans-serif;
}

.googlesans{font-family:var(--fo-googlesans);}.opensans{font-family:var(--fo-opensans);}.montserrat{font-family:var(--fo-montserrat);}.mons-alternates{font-family:var(--fo-mons-alternates);}.dmsans{font-family:var(--fo-dmsans);}.rubik{font-family:var(--fo-rubik);}.notosans{font-family:var(--fo-notosans);}.saira{font-family:var(--fo-saira);}.didact{font-family:var(--fo-didact-gothic);}.play{font-family:var(--fo-play);}.lexend{font-family:var(--fo-lexend);}.nunito{font-family:var(--fo-nunito);}.poppins{font-family:var(--fo-poppins);}.outfit{font-family:var(--fo-outfit);}.livvic{font-family:var(--fo-livvic);}.inter{font-family:var(--fo-inter);}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--fo-outfit);
}

.btn {
  transition: all 200ms ease;
}

.btn:hover {
  transform: translateY(-3px);
  letter-spacing: 2px;
}

.text-jdih {
  color: var(--bs-utama-gelap);
}

.bg-jdih {
  background: var(--bs-utama-gelap);
  color: var(--bs-background);
}

.btn-jdih  {
  background: var(--bs-utama-gelap);
  color: var(--bs-background);
  transition: all 200ms ease;
}

.btn-jdih:hover {
  background: var(--bs-utama-gelap);
  color: var(--bs-background);
}

a {text-decoration: none;}

ul {list-style: none;}

.peraturans li, p, small, b {
  text-align: justify;
}

body {
  background: var(--bs-background-2);
}

.nav-item .nav-link {
  border-radius: 5px;
  transition: all 200ms ease;
}

nav ul li {
  margin: 4px;
  color: var(--bs-utama-gelap);
}

nav ul li .active {
  font-weight: 500;
  color: var(--bs-jdih) !important;
  background: var(--bs-third);
  border-radius: 5px;
  transition: all 200ms ease;
}

nav ul li a:hover {
  color: var(--bs-utama-gelap) !important;
  background: var(--bs-third);
  border-radius: 5px;
}

.text-bg-primary {
  background-color: var(--bs-utama-gelap) !important;
}

.page-link {
  color: var(--bs-primary);
}

.page-link:active {
  background-color: var(--bs-secondary);
  color: var(--bs-secondary);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--bs-utama-gelap);
  transition: all 200ms ease;
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
  /* transform: translateY(-3px); */
  letter-spacing: 1px;
}

.card {
  transition: all 200ms ease;
}

.card:hover {
  transform: translateY(-3px);
}

.theme-toggle {
  height: 40px;
  width: 40px;
  border-radius: 40px;
}

.menu-bar {
  border-radius: 20px;
  background: rgba(255, 255, 255, .5);
  bottom: 0;
  backdrop-filter: blur(5px);
}

.menu-icon {
  width: 100px;
  height: 60px;
  transition: all 200ms ease;
  border-radius: 20px;
}

.menu-icon:hover {
  background: rgba(255, 255, 255, .3) ;
}

.menu-icon:active {
  background: rgba(255, 255, 255, .3) ;
}

.menu-icon label {
  font-size: clamp(12px, 1vw + 2px, 14px);
}

.modal-content {
  border-radius: 20px;
  background: rgba(255, 255, 255, .8) !important;
  backdrop-filter: blur(5px);
}

/* Left box */
.left-box {
  background: rgb(9,9,121);
  background: radial-gradient(circle, rgba(9,9,121,1) 35%, rgba(0,9,90,1) 100%);
  padding: 40px 30px 40px 40px;
}

.gambarLogin {
  width: 250px;
}

.left-text {
  font-family: var(--fo-poppins)
  font-weight: 500;
}

small {
  width: 17rem;
}

/* Right box */
.logoG {
  width: 20px;
}

/* Custom placeholder */
::placeholder {
  font-size: 14px;
  font-style: italic;
}