@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {

  /* color 1 */
  --bs-kominfo: #012970;
  --bs-utama: #012970;
  --bs-utama-terang: #4154f1;
  --bs-ungu: #717ff5;
  --bs-kelabu: #444444;

  /* color 2 */
  --bs-primary: #00425a;
  --bs-primary-shadow: #022836;
  --bs-secondary: #6c757d;
  --bs-secondary-shadow: #4c4e50;
  --bs-light: #fc7300;
  --bs-light-shadow: #c25700;
  --bs-background: #ececec;

  /* Fonts */
  --fo-googlesans: "Google Sans", sans-serif;
  --fo-opensans: "Open Sans", sans-serif;
  --fo-montserrat: "Monserrat", sans-serif;
  --fo-livvic: "Livvic", sans-serif;
  --fo-mons-alternates: "Montserrat Alternates", sans-serif;
  --fo-poppins: "Poppins", sans-serif;
  --fo-outfit: "Outfit", sans-serif;
  --fo-dmsans: "DM Sans", sans-serif;
  --fo-rubik: "Rubik", sans-serif;
  --fo-notosans: "Noto Sans", sans-serif;
  --fo-saira: "Saira", sans-serif;
  --fo-didact-gothic: "Didact Gothic", sans-serif;
  --fo-play: "Play", sans-serif;
  --fo-lexend: "Lexend", sans-serif;
  --fo-inter: "Inter", sans-serif;
  --fo-nunito: "Nunito", sans-serif;
}

.googlesans{font-family:var(--fo-googlesans);}.opensans{font-family:var(--fo-opensans);}.montserrat{font-family:var(--fo-montserrat);}.mons-alternates{font-family:var(--fo-mons-alternates);}.dmsans{font-family:var(--fo-dmsans);}.rubik{font-family:var(--fo-rubik);}.notosans{font-family:var(--fo-notosans);}.saira{font-family:var(--fo-saira);}.didact{font-family:var(--fo-didact-gothic);}.play{font-family:var(--fo-play);}.lexend{font-family:var(--fo-lexend);}.nunito{font-family:var(--fo-nunito);}.poppins{font-family:var(--fo-poppins);}.outfit{font-family:var(--fo-outfit);}.livvic{font-family:var(--fo-livvic);}.inter{font-family:var(--fo-inter);}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--fo-inter);
}

body {
    /* background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%); */
    transition: all 800ms ease;
    overflow: hidden;
    min-height: 100vh;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.nav {
    display: flex;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.34);
    padding: 8px 2px 0px 2px;
    margin: 20px 20px 20px 20px;
    border-radius: 20px;
}

.nav ul li a {
    color: var(--bs-utama);
    transition: all 200ms ease;
    border-radius: 12px;
}

.nav ul li a:hover {
    color: var(--bs-utama);
    background: rgba(255, 255, 255, 0.14);
    border-radius: 12px;
    transform: translateY(-3px) ;
}

.nav ul li a .active {
    color: var(--bs-utama);
}

.nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: centerz;
}

.nav-link .bi {
    font-size: 30px;
}

.nav-link span {
    font-size: clamp(12px, 1vw, 20px);
}

.input-group-append {
    cursor: pointer;
}

.theme-toggle {
    height: 40px;
    width: 40px;
}

.toggle-label {
    width: 60px;
    height: 30px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 20px;
    box-shadow: inset 0px .5px 1.5px rgba(0,0,0,0.4), inset 0px -.5px 1.5px rgba(255,255,255,0.4);
    cursor: pointer;
}

.toggle-label::after {
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    top: 1px;
    left: 1px;
    background: linear-gradient(180deg, #777, #3a3a3a);
    /* background: linear-gradient(180deg,#ffcc89,#d8860b); */
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    transition: all 300ms ease;
}

input {
    width: 0;
    height: 0;
    visibility: hidden;
}

input:checked + .toggle-label {
    background: #242424;
}

input:checked + .toggle-label::after {
    left: 59px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#ffcc89,#d8860b);
    /* background: linear-gradient(180deg, #777, #3a3a3a); */
}

.toggle-label:active::after {
    width: 32px;
    transform: ;
}

.toggle-label i {
    position: absolute;
    width: 12px;
    top: 3px;
    left: 7px;
    z-index: 100;
}

.toggle-label .bi-moon-fill {
    left: 7px;
    fill: #fff;
    transition: 50ms;
}

.toggle-label .bi-sun-fill {
    left: 37px;
    fill: #fff;
    transition: 50ms;
}
