  <!-- Footer Start -->
  <footer class="bg-transparent pt-5"
  data-aos="fade-up"
  data-aos-delay="50"
  data-aos-once="true">
    <div class="container pb-5">
      <div class="row">
        <div class="col-md-6 text-center mb-4">
          <h5 class="text-start">Link terkait</h5>
          <table class="">
            <tbody>
              <tr class="text-start">
                <td class="align-text-top text-start"><i class="bi bi-globe2 me-1"></i></td>
                <td><a href="https://spbe.deliserdangkab.go.id/" target="_blank" class="">SPBE Deli Serdang</a></td>
              </tr>
              <tr class="text-start">
                <td class="align-text-top text-start"><i class="bi bi-globe2 me-1"></td>
                <td><a href="https://portal.deliserdangkab.go.id" target="_blank" class="">Situs Resmi Pemkab Deli Serdang</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6 text-center">
          <h5 class="text-start">Kontak kami</h5>
          <hr class="m-0 mb-1">
          <table class="container">
            <tbody>
              <tr class="text-start">
                <td class="align-text-top text-start"><i class="bi bi-house-door-fill me-1"></i></td>
                <td>Jl. Diponegoro No. 78, Lubuk Pakam Pekan<br>Kec. Lubuk Pakam, Kab. Deli Serdang,<br>Kode Pos 20511</td>
              </tr>
              <tr class="text-start">
                <td class="align-text-top text-start"><i class="bi bi-envelope-at-fill me-1"></td>
                <td><a href="mailto:baghukum.deliserdangkab.go.id" class="text-decoration-none">dinaskominfo@deliserdangkab.go.id</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <p class="text-center">Hak Cipta © 2024<br />Pemerintah Kabupaten Deli Serdang</p>
        </div>
      </div>
      <div class="card pb-4 border-0 bg-transparent d-md-none">
        <div class="card pb-5 border-0 bg-transparent d-md-none"></div>
      </div>
    </div>
  </footer>
  <!-- Footer End -->