  <!-- Status Start -->
  <div class="tiket-status container mt-4"
  data-aos="fade-up"
  data-aos-delay="50"
  data-aos-once="true">
    <div class="row card my-3 mx-2 pt-3 px-2 rounded-4 border-0">
      <div class="col">
        <h4 class="text-center fw-semibold mb-4">
          <i class="fa-solid fa-square-poll-vertical me-1"></i>
          Status Tiket</h4>
        <!-- Menu Card Icon Start -->
        <div class="d-flex justify-content-around align-items-center">
            <!-- Icon 1 Start -->
            <a href="" class="card border-0" style="width: 150px; height: 150px;">
              <h1 class="text-center mb-0">
                <img src="public/assets/img/hotspot.gif" class="rounded-4" style="width: 50%;" alt="">
              </h1>
              <h2 class="text-center mb-0">13</h2>
              <p class="text-center">Jaringan</p>
            </a>
            <!-- Icon 1 End -->
            <!-- Icon 2 Start -->
            <a href="" class="card border-0" style="width: 150px; height: 150px;">
              <h1 class="text-center mb-0">
                <img src="public/assets/img/server.gif" class="rounded-4" style="width: 50%;" alt="">
              </h1>
              <h2 class="text-center mb-0">6</h2>
              <p class="text-center">Pusat Data</p>
            </a>
            <!-- Icon 2 End -->
            <!-- Icon 3 Start -->
            <a href="" class="card border-0" style="width: 150px; height: 150px;">
              <h1 class="text-center mb-0">
                <img src="public/assets/img/responsive.gif" class="rounded-4" style="width: 50%;" alt="">
              </h1>
              <h2 class="text-center mb-0">12</h2>
              <p class="text-center">Aplikasi</p>
            </a>
            <!-- Icon 3 End -->
            <!-- Icon 4 Start -->
            <a href="" class="card border-0" style="width: 150px; height: 150px;">
              <h1 class="text-center mb-0">
                <img src="public/assets/img/hotel-ring.gif" class="rounded-4" style="width: 50%;" alt="">
              </h1>
              <h2 class="text-center mb-0">8</h2>
              <p class="text-center">Reservasi</p>
            </a>
            <!-- Icon 4 End -->
          </div>
        <!-- Menu Card Icon End -->
      </div>
    </div>
  </div>
  <!-- Status End -->