<!DOCTYPE html>
<html lang="id" data-bs-theme="light">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>SiDisko | Diskominfostan Kab. Deli Serdang</title>
  <link rel="icon" type="image/x-icon" href="assets/img/router.svg" />
  <!-- CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <!-- Fonts and Icons -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <!-- Animations -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <!-- Local CSS -->
  <link rel="stylesheet" href="../assets/css/style.css" />
  <!-- Vue JS -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- Axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body class="bg-body-secondary" id="filter">

  <!-- Topbar Start -->
  <nav class="navbar navbar-expand bg-dark-subtle">
    <div class="container">
      <a class="navbar-brand fw-semibold" href="#"><img
        src="../assets/img/router.svg" alt=""
        style="height: 30px" />
        <span class="ms-2 googlesans">SIDISKO</span>
      </a>

      <div class="d-flex align-items-center gap-3">
        <div class="notifikasi">
          <div class="card bg-transparent border-0"
          style="cursor: pointer;">
            <i class="fa-regular fa-bell fs-4"></i>
          </div>
        </div>

        <div class="dark-mode">
          <button class="btn bg-warning border-0" 
          style="width: 30px;height: 30px;border-radius: 50%;"
          onclick="toggleTheme()">
          <i class="bi bi-sun-fill text-dark d-flex justify-content-center align-items-center"></i>
          </button>
        </div>

        <div class="login-logout">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle rounded-5" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="../public/img/user.jpg" style="width: 30px;border-radius: 50%;" alt="">
              <span class="ms-2">Angela</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><button class="dropdown-item" type="button"><i class="fa-solid fa-user me-2"></i>Profil</button></li>
              <li><button class="dropdown-item" type="button"><i class="fa-solid fa-arrow-right-from-bracket me-2"></i>Keluar</button></li>
            </ul>
          </div>

        </div>
      </div>
      
    </div>
  </nav>
  <!-- Topbar End -->

  <!-- Navbar Start -->
  <nav class="navbar navbar-expand d-none d-lg-block bg-transparent"
  data-aos="fade-in"
  data-aos-delay="50"
  data-aos-once="true">
    <div class="container">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="../index.html"><i class="fa-solid fa-home me-1"></i>Beranda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" data-bs-toggle="modal" data-bs-target="#tiketModal"><i class="fa-solid fa-file-arrow-up me-1"></i>Buat Tiket</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../progress.html" target="_blank"><i class="fa-solid fa-truck-fast me-1"></i>Progres</a>
          </li>
        </ul>
      </div>
      
    </div>
  </nav>
  <!-- Navbar End -->

  <!-- Mobile Navbar Bottom start -->
  <nav class="mobile-navbar navbar-expand fixed-bottom container d-lg-none"
  data-aos="fade-up"
  data-aos-delay="50"
  data-aos-once="true">
    <ul class="mobile-bar">
      <li class="icon-card">
        <a href="../index.html">
          <div class="icon-set home card">
            <i class="icon-logo fa-solid fa-house"></i>
            <label class="" for="">Beranda</label>
          </div>
        </a>
      </li>
      <li class="icon-card">
        <a href="" data-bs-toggle="modal" data-bs-target="#tiketModal">
          <div class="icon-set buat-tiket card">
            <i class="icon-logo fa-solid fa-file-arrow-up"></i>
            <label class="" for="">Buat tiket</label>
          </div>
        </a>
      </li>
      <li class="icon-card">
        <a href="../progress.html" target="_blank">
          <div class="icon-set progres card">
            <i class="icon-logo fa-solid fa-truck-fast"></i>
            <label class="" for="">Progres</label>
          </div>
        </a>
      </li>
      <li class="icon-card">
        <a href="" data-bs-toggle="modal" data-bs-target="#lainnyaModal">
          <div class="icon-set login-logout card">
            <i class="icon-logo fa-solid fa-arrow-right-from-bracket"></i>
            <!-- <i class="icon-logo fa-solid fa-arrow-right-to-bracket"></i> -->
            <label class="" for="">Logout</label>
          </div>
        </a>
      </li>
    </ul>
  </nav>
  <!-- Mobile Navbar Bottom end -->

  <!-- lainnya Modal start -->
  <div class="modal modal-sm fade" id="lainnyaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content pt-4">
        <p class="text-center fw-semibold text-primary">Menu Lainnya</p>
        <ul class="d-flex justify-content-around align-items-center me-4">
          <li class="icon-card text-center">
            <a href="../profil.html">
              <div class="icon-set profil card bg-danger-subtle text-danger-emphasis">
                <i class="icon-logo fa-solid fa-id-badge"></i>
                <label for="">Profil</label>
              </div>
            </a>
          </li>
          <li class="icon-card text-center">
            <a href="../bantuanhukum.html">
              <div class="icon-set bantuan-hukum card bg-primary-subtle text-primary-emphasis">
                <i class="icon-logo fa-solid fa-scale-balanced"></i>
                <label for="">Bantuan Hukum</label>
              </div>
            </a>
          </li>
          <li class="icon-card text-center">
            <a href="../faq.html">
              <div class="icon-set faq card bg-warning-subtle text-warning-emphasis">
                <i class="icon-logo fa-solid fa-circle-question"></i>
                <label for="">FAQ</label>
              </div>
            </a>
          </li>
        </ul>
        <a href="../login.html" type="button" class="m-3 btn btn-primary"><i class="fa-solid fa-arrow-right-to-bracket me-1"></i>Login</a>
      </div>
    </div>
  </div>
  <!-- lainnya Modal end -->

  <!-- Buat Tiket Modal start -->
  <div class="modal fade" id="tiketModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content pt-4">
        <p class="text-center fw-semibold text-primary">Buat Tiket</p>

        <!-- Pilih layanan start -->
        <form @submit.prevent="konfirmasiLayanan">
          <div class="p-3">

            <!-- Dropdown untuk Menu -->
            <div class="col-12 mb-1">
              <label for="menu" class="form-label text-primary fw-semibold mb-0">Menu</label>
              <select class="form-select" id="menu" v-model="selectedMenu" @change="updateSelectedLayanan" required>
                <option value="">-- pilih menu --</option>
                <option value="Aplikasi">Aplikasi</option>
                <option value="Jaringan">Jaringan</option>
                <option value="Pusat Data">Pusat Data</option>
                <option value="Reservasi">Reservasi</option>
              </select>
            </div>

            <!-- Dropdown untuk Layanan -->
            <div class="col-12 mb-1">
              <label for="layanan" class="form-label text-primary fw-semibold mb-0">Layanan</label>
              <select class="form-select" id="layanan" v-model="selectedLayanan" :disabled="!selectedMenu" required>
                <option value="">-- pilih layanan --</option>
                <option v-for="layanan in filteredLayanan" :key="layanan" :value="layanan">
                  {{ layanan }}
                </option>
              </select>
            </div>

            <!-- Tombol Konfirmasi -->
            <button type="submit" class="my-2 btn btn-primary w-100">
              <i class="fa-solid fa-arrow-right-to-bracket me-1"></i>Konfirmasi
            </button>
          </div>
        </form>
        <!-- Pilih layanan end -->

      </div>
    </div>
  </div>
  <!-- Buat Tiket Modal end -->

  <!-- Breadcrumb start -->
  <nav class="container px-4 mt-3"
  data-aos="fade-up"
  data-aos-delay="50"
  data-aos-once="true" 
  style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="../index.html"><i class="fa-solid fa-house me-1"></i>Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><i class="fa-solid fa-file-arrow-up me-1"></i>Buat tiket</li>
    </ol>
  </nav>
  <!-- Breadcrumb end -->

  <!-- Formulir Pendaftaran Aplikasi Start -->
  <div class="container p-3" data-aos="fade-up" data-aos-delay="50" data-aos-once="true">
    <div class="container card bg-dark-subtle rounded-4 border-0 p-3">
      <h5 class="col-12 text-center mt-2">
        <i class="fa-solid fa-clipboard-list me-2"></i>
        Formulir Tiket Pembangunan Aplikasi
      </h5>

      <form @submit.prevent action="" class="row p-3" oninput="btnSubmit.disabled = !this.checkValidity(); btnSubmit.classList.toggle('btn-secondary', !this.checkValidity()); btnSubmit.classList.toggle('btn-primary', this.checkValidity());">
        <div class="mb-3 col-12">
          <label for="exampleInputEmail1" class="form-label">Nama Aplikasi*</label>
          <input class="form-control" type="text" placeholder="Ketik nama aplikasi disini" aria-label="default input example">
          <div class="form-text fst-italic">Pastikan nama aplikasi tidak sama dengan aplikasi lain yang sudah ada</div>
        </div>

        <div class="form mb-3 col-12">
          <label for="keterangan">Deskripsi Aplikasi (min 100 karakter)*</label>
          <textarea class="form-control" placeholder="Jelaskan mengenai aplikasi menggunakan bahasa yang baik dan sopan" 
            id="keterangan" minlength="100" maxlength="512" style="height: 100px" required></textarea>
        </div>

        <div class="col-md-6 mb-3">
          <label for="jenis-aplikasi" class="form-label mb-0">Jenis Aplikasi*</label>
          <select class="form-select" id="jenis-aplikasi" required
          v-model="selectedJenisAplikasi" @change="updateSelectedOptions">
            <option value="">-- pilih --</option>
            <option value="layanan publik">Layanan Publik</option>
            <option value="administrasi pemerintahan">Administrasi Pemerintahan</option>
          </select>
        </div>

        <div class="col-md-6 mb-3" v-if="selectedJenisAplikasi === 'layanan publik'">
          <label for="sektor-layanan-publik">Sektor Layanan Publik*</label>
          <select class="form-select" id="sektor-layanan-publik" 
          v-model="selectedSektorLayanan">
            <option value="">-- pilih --</option>
            <option value="sektor1">Pendidikan dan Pengajaran</option>
            <option value="sektor2">Pekerjaan dan Usaha</option>
            <option value="sektor3">Tempat Tinggal</option>
            <option value="sektor4">Komunikasi dan Informasi</option>
            <option value="sektor5">Lingkungan Hidup</option>
            <option value="sektor6">Kesehatan</option>
            <option value="sektor7">Jaminan Sosial</option>
            <option value="sektor8">Energi</option>
            <option value="sektor9">Perbankan</option>
            <option value="sektor10">Perhubungan</option>
            <option value="sektor11">Sumber Daya Alam</option>
            <option value="sektor12">Pariwisata</option>
            <option value="sektor13">Sektor Lainnya</option>
          </select>
        </div>

        <div class="col-md-6 mb-3" v-if="selectedJenisAplikasi === 'administrasi pemerintahan'">
          <label for="urusan">Urusan*</label>
          <select class="form-select" id="urusan" v-model="selectedUrusan" @change="updateBidangUrusan">
            <option value="">-- pilih --</option>
            <option value="urusan1">Urusan Kewilayahan</option>
            <option value="urusan2">Urusan Pemerintahan Umum</option>
            <option value="urusan3">Urusan Pendukung Urusan Pemerintah</option>
            <option value="urusan4">Urusan Pengawasan Urusan Pemerintah</option>
            <option value="urusan5">Urusan Penunjang Urusan Pemerintah</option>
            <option value="urusan6">Urusan Pemerintahan Wajib yang Berkaitan dengan Pelayanan Dasar</option>
            <option value="urusan7">Urusan Pemerintahan Pilihan</option>
            <option value="urusan8">Urusan Pemerintahan Wajib yang Tidak Berkaitan dengan Pelayanan Dasar</option>
          </select>
        </div>

        <div class="col-md-6 mb-3" v-if="selectedJenisAplikasi === 'administrasi pemerintahan'">
          <label for="bidang-urusan">Bidang Urusan*</label>
          <select class="form-select" id="bidang-urusan" v-model="selectedBidangUrusan">
            <option value="">-- pilih --</option>
            <option v-for="bidang in filteredBidangUrusan" :value="bidang">{{ bidang }}</option>
          </select>
        </div>

        <div class="col-md-6 mb-3">
          <label for="sasaran-pengguna">Sasaran Pengguna*</label>
          <select class="form-select" id="sasaran-pengguna" v-model="selectedSasaranPengguna" disabled>
            <option value="">-- pilih jenis aplikasi --</option>
            <option value="masyarakat">Masyarakat</option>
            <option value="asn">ASN/Pemerintah</option>
          </select>
        </div>

        <div class="col-md-6 mb-3">
          <label for="menu" class="form-label mb-0">Pengembang Aplikasi*</label>
          <select class="form-select" id="menu" required>
            <option value="" selected>-- pilih --</option>
            <option value="pusat">Pemerintah Pusat</option>
            <option value="mandiri tik">Mandiri TIK</option>
            <option value="adopsi">Adopsi dari instansi lain</option>
            <option value="kolaborasi diskominfostan">Kolaborasi dengan Diskominfostan</option>
            <option value="pihak ketiga">Pihak ketiga</option>
          </select>
        </div>

        <div class="form mb-3 col-md-6">
          <label for="keterangan">Fitur Layanan (min 30 karakter)*</label>
          <textarea class="form-control" placeholder="Jelaskan fitur layanan yang ada pada aplikasi ini" 
            id="keterangan" minlength="30" maxlength="512" style="height: 100px" required></textarea>
        </div>

        <div class="form mb-3 col-md-6">
          <label for="keterangan">Produk Layanan (min 30 karakter)*</label>
          <textarea class="form-control" placeholder="Sebutkan produk layanan dari aplikasi ini" 
            id="keterangan" minlength="30" maxlength="512" style="height: 100px" required></textarea>
        </div>

        <div class="col-md-6 mb-3">
          <label for="">Platform Aplikasi*</label>
          <div class="d-flex flex-wrap gap-2">

            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="web">
              <label class="form-check-label" for="web">
                Web
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="windows">
              <label class="form-check-label" for="windows">
                Windows
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="macOs">
              <label class="form-check-label" for="macOs">
                MacOS
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="linux">
              <label class="form-check-label" for="linux">
                Linux
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="android">
              <label class="form-check-label" for="android">
                Android
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="ios">
              <label class="form-check-label" for="ios">
                iOS
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="lainnya" checked>
              <label class="form-check-label" for="lainnya">
                Lainnya
              </label>
            </div>
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <label for="">Bahasa Pemrograman/Framework*</label>
          <div class="d-flex flex-wrap gap-2">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="bahasaCe">
              <label class="form-check-label" for="bahasaCe">
                C
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="java">
              <label class="form-check-label" for="java">
                Java
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="golang">
              <label class="form-check-label" for="golang">
                Golang
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="python">
              <label class="form-check-label" for="python">
                Python
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="nodeJs">
              <label class="form-check-label" for="nodeJs">
                Node JS
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="javaScript">
              <label class="form-check-label" for="javaScript">
                Javascript
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="vueJs">
              <label class="form-check-label" for="vueJs">
                Vue JS
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="angular">
              <label class="form-check-label" for="angular">
                Angular
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="laravel">
              <label class="form-check-label" for="laravel">
                Laravel
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="codeIgniter">
              <label class="form-check-label" for="codeIgniter">
                CodeIgniter
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="phpNative">
              <label class="form-check-label" for="phpNative">
                PHP native
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="flutter">
              <label class="form-check-label" for="flutter">
                Flutter
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="kotlin">
              <label class="form-check-label" for="kotlin">
                Kotlin
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="swift">
              <label class="form-check-label" for="swift">
                Swift
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="lainnya" checked>
              <label class="form-check-label" for="lainnya">
                Lainnya
              </label>
            </div>
          </div>
        </div>

        <div class="mb-3 col-md-6">
          <label for="dokumenPendukung1" class="form-label">Surat permohonan (pdf, zip - maks 2MB)*</label>
          <input class="form-control input-group-text" type="file" id="dokumenPendukung1" required accept=".pdf,.zip" onchange="validateFileSize(this, 2)">
          <p id="errorDokumen" class="error-message"></p>
        </div>

        <div class="mb-3 col-md-6">
          <label for="dokumenPendukung2" class="form-label">Rancang bangun (pdf, zip - maks 2MB)*</label>
          <input class="form-control input-group-text" type="file" id="dokumenPendukung2" required accept=".pdf,.zip" onchange="validateFileSize(this, 2)">
          <p id="errorDokumen" class="error-message"></p>
        </div>

        <div class="mb-3 col-md-6">
          <label for="dokumenPendukung3" class="form-label">Buku manual (pdf, zip - maks 2MB)*</label>
          <input class="form-control input-group-text" type="file" id="dokumenPendukung3" required accept=".pdf,.zip" onchange="validateFileSize(this, 2)">
          <p id="errorDokumen" class="error-message"></p>
        </div>

        <div class="mb-3 col-md-6">
          <label for="dokumenPendukung4" class="form-label">SKPL (pdf, zip - maks 10MB)*</label>
          <input class="form-control input-group-text" type="file" id="dokumenPendukung4" required accept=".pdf,.zip" onchange="validateFileSize(this, 10)">
          <p id="errorDokumen" class="error-message"></p>
        </div>

        <div class="col-md-12 d-flex py-2 mb-3">
          <label class="me-3" for="">Apakah aplikasi ini menyimpan data pribadi/rahasia?*</label>
          <div class="d-flex flex-wrap gap-2">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="yaRahasia">
              <label class="form-check-label" for="yaRahasia" style="white-space: nowrap;">
                Ya
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="tidakRahasia" checked>
              <label class="form-check-label" for="tidakRahasia" style="white-space: nowrap;">
                Tidak
            </label>
          </div>
          
        </div>
        </div>

        <div class="form-check ms-3 mb-3 col-12">
          <input class="form-check-input" type="checkbox" id="snk" required>
          <label class="form-check-label" for="snk">
            Saya menyetujui <a href="#">syarat dan ketentuan</a> layanan*
          </label>
        </div>

        <div class="col-md-6">
          <button id="btnSubmit" type="submit" class="btn btn-secondary"
          data-bs-toggle="modal" data-bs-target="#buatTiketModal" disabled>
            <i class="fa-regular fa-paper-plane me-2"></i>Buat tiket
          </button>
        </div>
        
        <div class="text-end col-md-6">
          <p class="fst-italic">* wajib diisi</p>
        </div>
      </form>

    </div>
  </div>
  <!-- Formulir Pendaftaran Aplikasi End -->

  <!-- Buat tiket modal start -->
  <div class="modal modal-sm fade" id="buatTiketModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content text-center p-2">
        <div class="modal-body text-center">
          <h1 class="fw-semibold fs-5">Konfirmasi</h1>
          <i class="bi bi-clipboard-check fs-1"></i>
          <p>Apakah Anda yakin?</p>
        </div>
        <div class="d-flex justify-content-evenly gap-1">
          <button type="button" class="btn btn-secondary rounded-5" data-bs-dismiss="modal">Tidak</button>
          <a href="../index.html" type="button" class="btn btn-primary rounded-5"><i class="fa-solid fa-clipboard-question me-1"></i>Ya</a :href="{{ baseUrl }}">
        </div>
      </div>
    </div>
  </div>
  <!-- Buat tiket modal end -->

  <!-- Footer Start -->
  <footer class="bg-transparent pt-5"
  data-aos="fade-up"
  data-aos-delay="50"
  data-aos-once="true">
    <div class="container pb-5">
      <div class="row">
        <div class="col-md-6 text-center mb-4">
          <h5 class="text-start">Link terkait</h5>
          <table class="">
            <tbody>
              <tr class="text-start">
                <td class="align-text-top text-start"><i class="bi bi-globe2 me-1"></i></td>
                <td><a href="https://spbe.deliserdangkab.go.id/" target="_blank" class="">SPBE Deli Serdang</a></td>
              </tr>
              <tr class="text-start">
                <td class="align-text-top text-start"><i class="bi bi-globe2 me-1"></td>
                <td><a href="https://portal.deliserdangkab.go.id" target="_blank" class="">Situs Resmi Pemkab Deli Serdang</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6 text-center">
          <h5 class="text-start">Kontak kami</h5>
          <hr class="m-0 mb-1">
          <table class="container">
            <tbody>
              <tr class="text-start">
                <td class="align-text-top text-start"><i class="bi bi-house-door-fill me-1"></i></td>
                <td>Jl. Diponegoro No. 78, Lubuk Pakam Pekan<br>Kec. Lubuk Pakam, Kab. Deli Serdang,<br>Kode Pos 20511</td>
              </tr>
              <tr class="text-start">
                <td class="align-text-top text-start"><i class="bi bi-envelope-at-fill me-1"></td>
                <td><a href="mailto:baghukum.deliserdangkab.go.id" class="text-decoration-none">dinaskominfo@deliserdangkab.go.id</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <p class="text-center">Hak Cipta © 2024<br />Pemerintah Kabupaten Deli Serdang</p>
        </div>
      </div>
      <div class="card pb-4 border-0 bg-transparent d-md-none">
        <div class="card pb-5 border-0 bg-transparent d-md-none"></div>
      </div>
    </div>
  </footer>
  <!-- Footer End -->

  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script src="../assets/js/filter.js"></script>
  <script src="../assets/js/dark.js"></script>
  <!-- AOS -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

  <script>
  function validateFileSize(input, maxSizeMB) {
      const file = input.files[0];
      const errorMessageId = input.id === "dokumenPendukung" ? "errorDokumen" : "errorFoto";
      const errorMessageElement = document.getElementById(errorMessageId);
      errorMessageElement.textContent = ''; // Reset error message
  
      if (file) {
          const maxSizeBytes = maxSizeMB * 1024 * 1024; // Konversi MB ke Bytes
          if (file.size > maxSizeBytes) {
              errorMessageElement.textContent = `Ukuran file tidak boleh lebih dari ${maxSizeMB} MB.`;
              input.value = ''; // Kosongkan input jika file terlalu besar
          }
      }
  }
  </script>


</body>

</html>
